#@data/values
---
vsphere:
  vcenter_server: vcenter.server.com
  username: administrator@vsphere.local
  password: <your-unencoded-vsphere-user-pw>
  datacenter: Datacenter
  cluster: Cluster
  resource_pool: tkg
  network: "Extra" # DHCP is required
  datastore: DC01
  vm_folder: tkg
  haproxy_template: <your-folder-name>/photon-3-haproxy-v1.2.4+vmware.1 # e.g. tkg/photon... the prefix "/Datacenter/vm/" will be added via ytt
  storage_policy_name: tkg-storage-policy
tkg:
  ssh_public_key: ssh-rsa AAAAB3N...
  management_cluster:
    haproxy:
      cpu: 1
      memory: 2048
      disk: 30
    controlplane:
      cpu: 2
      memory: 4096
      disk: 30
    worker:
      cpu: 2
      memory: 4096
      disk: 30
  guest_cluster:
    haproxy:
      cpu: 1
      memory: 2048
      disk: 30
    controlplane:
      cpu: 2
      memory: 4096
      disk: 30
    worker:
      cpu: 4
      memory: 32768
      disk: 100
metallb:
  addresses: 172.16.251.2-172.16.251.254 # Use a range outside of your DHCP range
  membersecret: enFucjZlRmg5SjkwcDFOK2ZUdVJRbks3dXVoOUlHQXgyNFpSUXJORG5ZTjVDaHpFUlQ2dVZDRzZsbTI5cmdvdQpYVG5WMDRwUGlKMk92M3h2NWlITWVrb09VQmN0UHlpWXNoc2h3TWZScnhqTUltK0FtWHlyL0NsTzdlVHRwQ3FhClhMVTVpOGtXbFFwT2tHU0lKRUZxbk1aZlA5RjlYbWhFQUNJL29jY3JadEU9
ingress:
  domain: demo.aws.grogscave.net
acme:
  email: YOU@vmware.com
aws: # Only required for Route53 to manage the domain
  region: us-east-1
  credentials:
    secretKey: SECRET
    accessKey: ACCESS